{% extends "base.html" %}{% load staticfiles %}{% block head_title %}organizer List | {{ block.super }}{% endblock %}
{% block css %}{% endblock %}
{% block content %}
    <div class="bg-white pb-4 px-md-5 px-2 rounded shadow-sm">
        <div class="pt-4 d-flex justify-content-between"><h2>List of participant</h2>
            <div style="width: 300px">
                <input type="text" class="form-control" id="search" onkeyup="mySearch123456()" placeholder="Search...">
            </div>
        </div>
        <div class="py-3 pb-2 table-responsive-xl">
            {% if obj %}
            <table class="table table-bordered table-hover" id="myTable">
                <thead>
                <tr>
                    <th>S No.</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Payment Id</th>
                    <th>Receipt Id</th>
                    <th>Paid</th>
                    <th>Pay Amount</th>
                </tr>
                </thead>
                <tbody>
                    {% for i in form %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ i }} {{ i.label }}</td>
                        <td>{{ i.label }}</td>
                        <td>
                            
                        </td>
                        <td>{{ i.label }}</td> 
                        <td>
                            {% comment %}
                            <!-- <a href="{% url 'registration:registration_detail' i.registration_id %}#transaction"
                               class="btn btn-outline-success btn-sm">Pay Amount</a> -->
                                 
                               {% endcomment %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>{% else %}<h3>No organizer has been registered yet!</h3>{% endif %}
        </div>
    </div>
{% endblock %}
{% block script %}{% endblock %}