{% if client %}
  <form method="post"
        hx-post="{% url 'event:update_form' slug %}"
        hx-on="htmx:afterRequest"
        hx-trigger="click from:#submit-all">

        {{ formset.management_form }}
  {% for form in formset %}
  <div class="row mt-4">
    <div class="col-4 col-md-3">
        <label for="{{ form.type.id_for_label }}">{{ form.type.label }}</label>
        {{ form.type }}
    </div>
    <div class="col-4 col-md-3">
        <label for="{{ form.label.id_for_label }}">{{ form.label.label }}</label>
        {{ form.label }}
    </div>
    <input type="hidden" name="{{ form.prefix }}-id" value="{{ form.instance.id }}">
    <div class="col-3 align-self-end">
        <button class="btn btn-danger" type="button" hx-on="click: this.closest('form').remove()">
            Cancel
        </button>
    </div>
</div>
{% endfor %}
  </form>
{% else %}
  <form method="post"
        hx-post="{% url 'event:create_form' slug %}"
        hx-on="htmx:afterRequest"
        hx-trigger="click from:#submit-all">

    <div class="row mt-4">
        <div class="col-4 col-md-3">
            <label for="{{form.type.id_for_label}}">{{ form.type.label }}</label>
            {{form.type}}
        </div>
        <div class="col-4 col-md-3">
            <label for="{{form.label.id_for_label}}">{{ form.label.label }}</label>
            {{form.label}}
        </div>
        <div class="col-3 align-self-end">
            <button class="btn btn-danger" type="button" hx-on="click: this.closest('form').remove()">
                Cancel
            </button>
        </div>
    </div>

  </form>
{% endif %}

<script>
    // Function to handle successful form submission
    function handleFormSubmission(event) {
        // Check if the response was successful
        if (event.detail && event.detail.request && event.detail.request.status === 200) {
            // Redirect to the home page (replace '/home/' with your actual home page URL)
            window.location.href = "{% url 'home' %}";
        }
    }

    // Add an event listener to handle the 'htmx:afterRequest' event
    document.addEventListener('htmx:afterRequest', handleFormSubmission);
</script>
