{% if client %}
  <form method="post"
        hx-post="{% url 'event:update_form' slug %}"
        hx-on="htmx:afterRequest"
        hx-trigger="click from:#submit-all">

        {{ formset.management_form }}
  {% for form in formset %}
  <div class="row mt-4">
    <div class="col-4 col-md-3">
        <label for="{{ form.type.id_for_label }}">{{ form.type.label }}</label>
        {{ form.type }}
    </div>
    <div class="col-4 col-md-3">
        <label for="{{ form.label.id_for_label }}">{{ form.label.label }}</label>
        {{ form.label }}
    </div>
    <input type="hidden" name="{{ form.prefix }}-id" value="{{ form.instance.id }}">
    <div class="col-3 align-self-end">
        <button class="btn btn-danger" type="button" hx-on="click: this.closest('form').remove()">
            Cancel
        </button>
    </div>
</div>
{% endfor %}
  </form>
{% else %}
  <form method="post"
        hx-post="{% url 'event:create_form' slug %}"
        hx-on="htmx:afterRequest"
        hx-trigger="click from:#submit-all">

    <div class="row mt-4">
        <div class="col-4 col-md-3">
            <label for="{{form.type.id_for_label}}">{{ form.type.label }}</label>
            {{form.type}}
        </div>
        <div class="col-4 col-md-3">
            <label for="{{form.label.id_for_label}}">{{ form.label.label }}</label>
            {{form.label}}
        </div>
        <div class="col-3 align-self-end">
            <button class="btn btn-danger" type="button" hx-on="click: this.closest('form').remove()">
                Cancel
            </button>
        </div>
    </div>

  </form>
{% endif %}

<script>
    function nav(){
        
    window.location.href = "{%url 'home'%}";
    alert('submitted successfully')
  };
</script>
