{% extends "base.html" %}{% load staticfiles %}{% block head_title %}Add Event | {{ block.super }}{% endblock %}
{% block content %}
    <div class="p-3 pt-4 bg-white rounded shadow-sm">
        <h2>Add/Update Event</h2>
        <form enctype="multipart/form-data" action="" method="post" class="px-md-2">{% csrf_token %}
            <h3>Event Information*</h3>
            <div class="form-row px-md-5">
                {{ form.media }}
                
                
                
                <div class="pb-4 col-md-8"><label>Event Title</label>{{ form.event_title }}{{ form.event_title.errors }}</div>
                
                <div class="pb-4 col-md-8"><label>Event Subtitle</label>{{ form.event_subtitle }}{{ form.event_subtitle.errors }}</div>
                
                <div class="pb-4 col-md-4"><label>Fees</label>{{ form.fees }}{{ form.fees.errors }}</div>
                
                <div class="pb-4 col-md-12"><label>about</label><br>{{ form.about }}{{ form.about.errors }}</div>
                
                <div class="pb-4 col-md-4"><label>Type</label>{{ form.types }}{{ form.types.errors }}</div>

                <div class="pb-4 col-md-4">
                    <label>Event start date</label>{{ form.event_start_date }}{{ form.event_start_date.errors }}
                </div>

                <div class="pb-4 col-md-4">
                    <label>Event end date</label>{{ form.event_end_date }}{{ form.event_end_date.errors }}
                </div>

                <div class="pb-4 col-md-4">
                    <label>Event start time</label>{{ form.event_start_time }}{{ form.event_start_time.errors }}
                </div>
                
                <div class="pb-4 col-md-4">
                    <label>Event end time</label>{{ form.event_end_time }}{{ form.event_end_time.errors }}
                </div>
                <div class="pb-4 col-md-4"><label>Mode of event</label>{{ form.visibility }}{{ form.visibility.errors }}</div>
                
                <div class="pb-4 col-md-4"><label>Platform of event</label>{{ form.platform }}{{ form.platform.errors }}</div>
                
                <div class="pb-4 col-md-8"><label>Venue</label>{{ form.venue|safe }}{{ form.venue.errors }}</div>

                


                <div class="pb-4 col-md-4">
                    <label>Registration start</label>{{ form.registration_start }}{{ form.registration_start.errors }}
                </div>

                <div class="pb-4 col-md-4">
                    <label>Registration end</label>{{ form.registration_end }}{{ form.registration_end.errors }}
                </div>


                <div class="pb-4 col-md-4">
                    <label>No of tickets</label>{{ form.no_of_tickets }}{{ form.no_of_tickets.errors }}
                </div>


                <div class="pb-4 col-md-4"><label>Category</label>{{ form.category }}{{ form.category.errors }}</div>

                <div class="pb-4 col-md-4"><label>Subcategory</label>{{ form.subcategory }}{{ form.subcategory.errors }}</div>

                <div class="pb-4 col-md-4"><label>Website Link</label>{{ form.website }}{{ form.website.errors }}</div>
                <div class="pb-4 col-md-4"><label>Facebook Link</label>{{ form.facebook }}{{ form.facebook.errors }}</div>
                <div class="pb-4 col-md-4"><label>Instagram Link</label>{{ form.instagram }}{{ form.instagram.errors }}</div>
                <div class="pb-4 col-md-4"><label>Youtube Link</label>{{ form.youtube }}{{ form.youtube.errors }}</div>

                <div class="pb-4 col-md-4"><label>Event Poster: (100X100 svg file)</label>{{ form.poster }}{{ form.poster.errors }}</div>
                
            </div>
            <div class="px-md-5 pb-5 btn-toolbar">
                <button type="submit" class="px-5 m-2 btn btn-outline-primary">Submit</button>
                <button type="reset" class="px-4 m-2 btn btn-outline-danger">Reset</button>
            </div>
        </form>
    </div>
    
    {% endblock %}