{% extends 'base.html' %}{% load staticfiles %}{% block head_title %}Event
Detail | {{ block.super }}{% endblock %}
<main>{% block content %}
    <style>
      .img {
        background-size: contain;

        height: 350px;
      }

      h1 {
        font-size: 40px;
        font-weight: bold;
      }

      h4 {
        
        font-weight: bold;

      }

      h5 {
        font-size: 20px;
      }

      h6 {
        font-size: 17px;
      }
      
      .img-blur-wrap {
        position:relative;
        overflow:hidden;
      }
      .img-blur {
          background:url(./assets/images/poster.jpg) center no-repeat;
          background-size:auto,cover;
          filter: none;
          z-index: 2;
          position: relative;
          max-width: 40rem;
          height:40rem;
          margin: 0 auto;  
          box-shadow:0px 20px 40px #000;
      }
      .img-blur-bg {
        background:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3) ),  url(./assets/images/poster.jpg) center no-repeat;
        background-size:auto,cover;
        filter: blur(5px);
        width:100%;
        height:40rem;
        position: absolute;
        z-index: 1;
      }
      
    </style>

    <section class="container">
      <div class='img-blur-wrap mb-5' >
        <div class='img-blur-bg' style="background:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3) ),  url('{{ base }}/media/{{ obj.poster }}') center no-repeat;"></div>
        <div class='img-blur' style="background:url('{{ base }}/media/{{ obj.poster }}') center no-repeat;"></div>
      </div>
    <div class="row">
      <div class="col">
        
        <h5>{{obj.event_start_date}}</h5>
        <h1>{{ obj.event_title|upper }}</h1>
        <h6>{{ obj.event_subtitle|upper }}</h6>
      </div>

      <div class="card text-center" style="width: 30rem;color: #000;">
        {% if owner %}
        <div class="card-body"> 
          <a
          class="btn btn-custom mb-4 w-100"
          href="{% url 'event:update_event' obj.slug %}"
          >Update</a>
        </div>
        {% elif registered %}
        <div class="card-body">
          <button
          class="btn btn-custom mb-4"
          disabled
        >
          Already Registered
        </button>
        </div>
        
        {% else %}
        


        {% if now <= obj.registration_end and obj.registration_open %}


                  {% if obj.no_of_tickets >= obj.event_booked %}
                  <div class="card-body">
                    <button
                    class="btn btn-custom mb-4"
                    disabled
                  >
                    Registration Full</button>
                    <p style="border-style: solid;
                  border-width: medium;border-color: #1492E6;">EVENTID : EVTLY0{{obj.id}}</p>
                  </div>
                  {%else%}
              <div class="card-body">
                <h5 class="card-title">Tickets</h5>
                <div class="">
                    <a class="btn btn-custom" href="javascript:void(0);" onclick="decrementQuantity();" style="width: 2rem">-</a>
                    <span id="quantity">1</span>
                    <a class="btn btn-custom" href="javascript:void(0);" onclick="incrementQuantity();" style="width: 2rem">+</a>
                </div>
                {% if obj.fees == 0 %}
                  <p class="card-text">Free</p>
                {% else %}
                  <p class="card-text">₹{{ obj.fees }}</p>
                {% endif %}
                <hr />
                <a class="btn btn-custom mb-4 w-100"
                  onclick='return confirm("Are you sure to register in {{ obj.event_name }}")'
                  href="{% url 'registration:payment' obj.slug %}?quantity=" id="register-link">Register Now</a>
                <p style="border-style: solid; border-width: medium; border-color: #1492E6;">EVENTID : EVTLY0{{ obj.id }}</p>
            </div>
            {%endif%}
      
        {% else %}
        <div class="card-body">
          <button
          class="btn btn-custom mb-4"
          disabled
        >
          Registration Closed</button>
          <p style="border-style: solid;
        border-width: medium;border-color: #1492E6;">EVENTID : EVTLY0{{obj.id}}</p>
        </div>
        {% endif %}
        {% endif %}

        
      </div>
    </div>

    <div style="display:block;width:100%;">
    <h4 class="row" style="display:block;">When and Where</h4>
    <div class="row">
      <div class="col-4 ml-4">
        <h5>Date and Time</h5>
        <p>{{obj.event_start_date}}-{{obj.event_end_date}} <br>{{obj.event_start_time}}-{{obj.event_end_time}}</p>
      </div>
      <div class="col-4">
        <h5>Location</h5>
        <p>{{obj.venue|safe}}</p>
      </div>
    </div>
  </div>
    <div class="">
      <h4>About</h4>
      <p class="ml-4">
        {{obj.about|safe}}
      </p>
    </div>
    
  </section>

  <script>
    let currentQuantity = 1;

    function updateQuantity() {
        const quantityElement = document.getElementById('quantity');
        quantityElement.innerText = currentQuantity;
        const registerLink = document.getElementById('register-link');
        registerLink.href = `{% url 'registration:payment' obj.slug %}?quantity=${currentQuantity}`;
    }

    function incrementQuantity() {
        currentQuantity++;
        updateQuantity();
    }

    function decrementQuantity() {
        if (currentQuantity > 1) {
            currentQuantity--;
            updateQuantity();
        }
    }

    // Initial update
    updateQuantity();
</script>




{% endblock content %}