{% extends "base.html" %}{% load staticfiles %}{% block head_title %}Home{% endblock %}
{% block content %}
    <div class="row" style="margin: 1rem 0 0 0">
        <div class="col-lg-6 order-lg-1 pb-5">
            <img src="{% static 'images/Asset 50.svg' %}" alt="logo" style="width: 100%"></div>
        <div class="col-lg-6 order-lg-0 align-self-lg-center px-lg-5 pb-5 text-center">
            <h1 class="px-4" style="color:#414141;font-size: 3rem;">Eventlify</h1>
            <hr style="width: 70px; border: 1px solid rgba(0,0,0,0.23);">
            <p class="px-3" style="font-size: 24px; color:#777777;">A gateway to book events</p>
           
            <a class="btn btn-custom mt-4 px-lg-5 py-3" href="{% url 'event:event_list' %}" style="border: 0; font-size: 24px; box-shadow: 5px 5px 10px rgba(0,0,0,.50)!important;">Book your events</a><br><br>
            
        </div>
    </div>
    
    
{% endblock %}